@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    .font-mono {
      font-family: "Cutive Mono", monospace;
      font-weight: 400;
      font-style: normal;
    }

    .font-title {
      font-family: "Sixtyfour", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.05em;
      font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    }

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 84% 4.9%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    margin-bottom: 2em;
  }

  .font-effect-anaglyph {
    text-shadow:
      -0.06em 0 red,
      0.06em 0 cyan;
  }

  @keyframes spin-0 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-1 {
    from {
      transform: rotate(36deg);
    }

    to {
      transform: rotate(396deg);
    }
  }

  @keyframes spin-2 {
    from {
      transform: rotate(72deg);
    }

    to {
      transform: rotate(432deg);
    }
  }

  @keyframes spin-3 {
    from {
      transform: rotate(108deg);
    }

    to {
      transform: rotate(468deg);
    }
  }

  @keyframes spin-4 {
    from {
      transform: rotate(144deg);
    }

    to {
      transform: rotate(504deg);
    }
  }

  @keyframes spin-5 {
    from {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(540deg);
    }
  }

  @keyframes spin-6 {
    from {
      transform: rotate(216deg);
    }

    to {
      transform: rotate(578deg);
    }
  }

  @keyframes spin-7 {
    from {
      transform: rotate(252deg);
    }

    to {
      transform: rotate(612deg);
    }
  }

  @keyframes spin-8 {
    from {
      transform: rotate(288deg);
    }

    to {
      transform: rotate(648deg);
    }
  }

  @keyframes spin-9 {
    from {
      transform: rotate(324deg);
    }

    to {
      transform: rotate(684deg);
    }
  }

  @keyframes scroll {
    100% {
      background-position: 3000px 0px;
    }
  }

  @keyframes float {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, -30px);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
    animation-direction: forward;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
  }

  @keyframes sf-fly-by-1 {
    100% {
      transform: translateZ(-800px);
      opacity: 0;
    }
    50% {
      transform: translateZ(-200);
      opacity: 0.2;
    }
    0% {
      transform: translateZ(600px);
      opacity: 0;
    }
  }
  @keyframes sf-fly-by-2 {
    100% {
      transform: translateZ(-1600px);
      opacity: 0;
    }
    50% {
      transform: translateZ(-600px);
      opacity: 0.2;
    }
    0% {
      transform: translateZ(600px);
      opacity: 0;
    }
  }
  @keyframes sf-fly-by-3 {
    100% {
      transform: translateZ(-2200px);
      opacity: 0;
    }
    50% {
      transform: translateZ(-600px);
      opacity: 0.2;
    }
    0% {
      transform: translateZ(1800px);
      opacity: 0;
    }
  }

  .star-field {
    perspective: 600px;
    z-index: -1;
  }

  .star-field div {
    box-shadow:
      -411px -476px #cccccc,
      777px -407px #d4d4d4,
      -387px -477px #fcfcfc,
      -91px -235px #d4d4d4,
      491px -460px #f7f7f7,
      892px -128px #f7f7f7,
      758px -277px #ededed,
      596px 378px #cccccc,
      647px 423px whitesmoke,
      183px 389px #c7c7c7,
      524px -237px #f0f0f0,
      679px -535px #e3e3e3,
      158px 399px #ededed,
      157px 249px #ededed,
      81px -450px #ebebeb,
      719px -360px #c2c2c2,
      -499px 473px #e8e8e8,
      -158px -349px #d4d4d4,
      870px -134px #cfcfcf,
      446px 404px #c2c2c2,
      440px 490px #d4d4d4,
      414px 507px #e6e6e6,
      -12px 246px #fcfcfc,
      -384px 369px #e3e3e3,
      641px -413px #fcfcfc,
      822px 516px #dbdbdb,
      449px 132px #c2c2c2,
      727px 146px #f7f7f7,
      -315px -488px #e6e6e6,
      952px -70px #e3e3e3,
      -869px -29px #dbdbdb,
      502px 80px #dedede,
      764px 342px #e0e0e0,
      -150px -380px #dbdbdb,
      654px -426px #e3e3e3,
      -325px -263px #c2c2c2,
      755px -447px #c7c7c7,
      729px -177px #c2c2c2,
      -682px -391px #e6e6e6,
      554px -176px #ededed,
      -85px -428px #d9d9d9,
      714px 55px #e8e8e8,
      359px -285px #cfcfcf,
      -362px -508px #dedede,
      468px -265px #fcfcfc,
      74px -500px #c7c7c7,
      -514px 383px #dbdbdb,
      730px -92px #cfcfcf,
      -112px 287px #c9c9c9,
      -853px 79px #d6d6d6,
      828px 475px #d6d6d6,
      -681px 13px #fafafa,
      -176px 209px #f0f0f0,
      758px 457px #fafafa,
      -383px -454px #ededed,
      813px 179px #d1d1d1,
      608px 98px whitesmoke,
      -860px -65px #c4c4c4,
      -572px 272px #f7f7f7,
      459px 533px #fcfcfc,
      624px -481px #e6e6e6,
      790px 477px #dedede,
      731px -403px #ededed,
      70px -534px #cccccc,
      -23px 510px #cfcfcf,
      -652px -237px whitesmoke,
      -690px 367px #d1d1d1,
      810px 536px #d1d1d1,
      774px 293px #c9c9c9,
      -362px 97px #c2c2c2,
      563px 47px #dedede,
      313px 475px #e0e0e0,
      839px -491px #e3e3e3,
      -217px 377px #d4d4d4,
      -581px 239px #c2c2c2,
      -857px 72px #cccccc,
      -23px 340px #dedede,
      -837px 246px white,
      170px -502px #cfcfcf,
      822px -443px #e0e0e0,
      795px 497px #e0e0e0,
      -814px -337px #cfcfcf,
      206px -339px #f2f2f2,
      -779px 108px #e6e6e6,
      808px 2px #d4d4d4,
      665px 41px #d4d4d4,
      -564px 64px #cccccc,
      -380px 74px #cfcfcf,
      -369px -60px #f7f7f7,
      47px -495px #e3e3e3,
      -383px 368px #f7f7f7,
      419px 288px #d1d1d1,
      -598px -50px #c2c2c2,
      -833px 187px #c4c4c4,
      378px 325px whitesmoke,
      -703px 375px #d6d6d6,
      392px 520px #d9d9d9,
      -492px -60px #c4c4c4,
      759px 288px #ebebeb,
      98px -412px #c4c4c4,
      -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
  }
  .star-field div:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
  }
  .star-field div:nth-child(2) {
    animation: sf-fly-by-2 8s linear infinite;
  }
  .star-field div:nth-child(3) {
    animation: sf-fly-by-3 10s linear infinite;
  }

  .warp {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    perspective: 360px;
    perspective-origin: 50% 50%;
  }

  .warp > div {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image:
      -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 2px, transparent 2px),
      -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05) 2px, transparent 2px);
    background-size:
      100px 100px,
      100px 100px;
    background-position:
      -1px -1px,
      -1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 10s infinite linear;
  }

  @keyframes planeMoveTop {
    from {
      background-position:
        0px -100px,
        0px 0px;
    }
    to {
      background-position:
        0px 0px,
        0px 0px;
    }
  }

  @media (max-height: 350px) {
    .warp {
      perspective: 360px - 150;
    }
  }

  @media print {
    * {
      print-color-adjust: exact;
    }

    @page {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    #header,
    #footer,
    #nav {
      display: none !important;
    }
  }
}
